
*.pyc
qtile/backgrounds/andreas-kind-bUhzlj3gGso-unsplash.jpg
qtile/backgrounds/fuji.jpeg
qtile/backgrounds/snowy.jpg
qtile/backgrounds/stretched-1920-1080-1290432.png
qtile/backgrounds/stretched-1920-1080-722264.jpg
qtile/backgrounds/sword.jpg
